<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLAB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <navigation>
        <div class="navbar" >
            <ul class="nav-list">
                <li><a href="register" id="register">sign up</a></li>
                <li><a href="/">clab🎧</a></li>
                <li><a href="tuner" id="tuner">tuner</a></li>
                <li><a>about</a></li>
                <li><a href="contact">contact</a></li>
            </ul>
        </div>
    </navigation>
    <div style=padding:20px;">
        <h2>Clab🎧</h2>
        <p>Welcome to Clab, a free to use music transcriber! This website is for guitarist searching for guitar tablature. Look no further! Upload a .wav of your song of choice and let Clab do the work 😎.</p>
        
      </div>
      <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: .2;
            width: 9%;
            /* Height of the footer*/
            height: 40px;
            
        }
    </style>
    <div id = footer>
      <h2>Creators 👥 💻</h2>
        <p>Thomas Nguyen</p>
        <p>Nathan Grenade</p>
        <p>Sam Evans</p>
        <p>Aaron Earp</p>
        <p>David Jara</p>
    </div>
</body>
</html>