<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLAB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <navigation>
        <div class="navbar" >
            <ul class="nav-list">
                <li><a id="register">sign up</a></li>
                <li><a href="/">clab🎧</a></li>
                <li><a href="tuner" id="tuner">tuner</a></li>
                <li><a href="about">about</a></li>
                <li><a href="contact">contact</a></li>
                <li><a href="search">search</a></li>
            </ul>
        </div>
    </navigation>
    <div class="title-body">
     <h1 class="title">sign up for clab</h1>
    </div>

    <div class="login-form">
            <h1></h1>

    <form action="/login" method = "POST">
            <p>Email <input id="email" type = "text" name = "email" placeholder="email"/></p>
            <p>Username <input id="username" type = "text" name = "username" placeholder="username"/></p>
            <p>Password <input id="password" type = "password" name = "password" placeholder="password"/></p>
        <p><input class="button-19" id="submit" type = "submit" value = "Register" /></p>

    </div>
    <div class="controls">
        <p id="response"></p>
    <div>
    </form>

</body>
</html>